layout {
	background-color "#131318"

    focus-ring {
        active-color "#c1c1ff"
        inactive-color "#918f9a"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c1c1ff"
        inactive-color "#918f9a"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#c1c1ff"
        inactive-color "#918f9a"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c1c1ff80"
    }
}

overview {
	backdrop-color "#131318"
}

recent-windows {
    highlight {
        active-color "#c1c1ff"
        urgent-color "#ffb4ab"
    }
}
