// This config is in the KDL format: https://kdl.dev
// comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

// Input device configuration.
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
          layout "us"
        }
        numlock
    }
    mouse {
        natural-scroll
        accel-speed 1
        accel-profile "flat"
        scroll-method "edge"
				scroll-button 273
        middle-emulation
    }
}
        // left-handed
        // middle-emulation        
				// scroll-button 273
        // scroll-button-lock
        // left-handed
        // middle-emulationo uncomment the node by removing "/-"!
output "HDMI-A-1" {
    // Uncomment this line to disable this output.
    // off
    mode "3840x2160@60.000"
    scale 1.1
    transform "normal"
    position x=1920 y=0
}
//environment
environment {
	QT_QPA_PLATFORMTHEME "qt6ct"
	QT_AUTO_SCREEN_SCALE_FACTOR "1"
	TERMINAL "kitty"
	EDITOR "vim"
	BROWSER "helium"
	FILEMANAGER "pcmanfm-qt"
	PLAYERCTL_IGNORE_PLAYER "chromium*,firefox,io.github.mpc_qt.mpc-qt$,vlc,mpv,MpcQt"
}

//cursor
cursor {
	xcursor-theme "Layan-cursors"
	xcursor-size 24
	hide-when-typing true
	hide-after-inactive-ms 1000
}

//layout
layout {
    gaps 15
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        width 2
        active-gradient from="#5e81ac" to="#eceff4" angle=45 
			  inactive-gradient from="#4c566a" to="#2e3440" angle=45 relative-to="workspace-view" 
		}
		border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"  
        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
        // inactive-gradient from="#d8dee9" to="#2e3440" angle=45 relative-to="workspace-view"
    }
    shadow {
        on
        draw-behind-window true
        softness 7
        spread 3
        offset x=0 y=4
        color "#0007"
    }
    struts {
        left 10
        right 10
        top 10
        bottom 5
    }
//	background-color "transparent"
}
//overview
//overview-wallpaper
layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
		background-effect {
			blur true
		}
		opacity 0.6
}
overview {
    workspace-shadow {
        on
    }
		zoom 0.4
		backdrop-color "#000B0D20"
}
//windows-swicher
recent-windows {
	debounce-ms 750
	open-delay-ms 150
	highlight {
//		active-color "#5e81ac"
//		urgent-color "#2e3440"
		padding 30
		corner-radius 3
	}
	previews {
		max-height 600
		max-scale 0.5
	}
}
// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

//animations
include "niri-animation-collection/animations/dither-glitch.kdl"
animations {
    on
		workspace-switch {
		  spring damping-ratio=0.7 stiffness=500 epsilon=0.001
		}
//		window-open {
//      duration-ms 150
//			curve "ease-out-expo"
//		}
//		window-close {
//			duration-ms 150
//			curve "ease-out-quad"
//		}
		horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
		window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}

//workspace-rule
workspace "terminal"
workspace "browser"
workspace "filemanager"
workspace "code"
workspace "media"
workspace "editor"
workspace "chat"
workspace "book"
workspace "systemsettings"

window-rule {
	match app-id="kitty$"
	open-on-workspace "terminal"
}
window-rule {
	match app-id="firefox$"
	match app-id="qutebrowser$"
	match app-id="google-chrome$"	
	match app-id=r#"org\.qbittorrent\.qBittorrent$"#
	match app-id="helium$"
	match app-id=r#"^org\.mozilla\.Thunderbird$"#
	match app-id=r#"^io\.github\.amit9838\.mousam$"#
	open-on-workspace "browser"
}
window-rule {
	match app-id="pcmanfm-qt$"
	open-on-workspace "filemanager"
}
window-rule {
	match app-id="code$"	
	match app-id=r#"^org\.libreoffice\.LibreOffice$"#
	match app-id="libreoffice-writer$"
	match app-id="libreoffice-startcenter$"
	match app-id="libreoffice-impress$"
	match app-id="libreoffice-calc$"
	match app-id="libreoffice-draw$"
	match app-id="libreoffice-base$"
	open-on-workspace "code"
}
window-rule {
	match app-id="mpv$"
	match app-id=r#"io.github.mpc_qt.mpc-qt$"#
  match app-id=r#"^moe\.tsuna\.tsukimi$"#	
	match app-id="Spotify$"
	match app-id="^lx-music-desktop$"
	match app-id="^FeelUOwn$"
	match app-id="fooyin$"
	open-on-workspace "media"
}
window-rule {
	match app-id="inkscape$"
	match app-id="krita$"
	match app-id="kdenlive$"
	match app-id="blender$"
	match app-id="gimp$"
	match app-id="Audacity$"
	match app-id="darktable$"
	match app-id="resolve$"
	match app-id="OpenToonz$"
	match app-id=r#"fr.handbrake.ghb$"#
	match app-id=r#"^io\.github\.xiaoyifang\.goldendict_ng$"#
	open-on-workspace "editor"
}
window-rule {
	match app-id="discord$"
	match app-id="vesktop$"
	match app-id=r#"org\.telegram\.desktop$"#
  match app-id=r#"^net\.lutris\.Lutris$"#
  match app-id="^wechat$"
  match app-id="^QQ$"
	open-on-workspace "chat"
}
window-rule {
	match app-id="foliate$"
	match app-id=r#"^org\.zathura\.Zathura$"#
	match app-id=r#"^com\.github\.johnfactotum\.Foliate$"#
	match app-id=r#"^info\.febvre\.Komikku$"#
	match app-id="YACReaderLibrary$"
	match app-id="calibre-gui$"
	match app-id="steam$"
  match app-id=r#"^com\.vysp3r\.ProtonPlus$"#	
	open-on-workspace "book"
}
window-rule {
	match app-id="nwg-look"
	match app-id="qt6ct"
	match app-id="qt5ct"
	match app-id=r#"^org\.localsend\.localsend_app$"#
	match app-id="kvantummanager"
	match app-id=r#"^org\.pulseaudio\.pavucontrol$"#
	match app-id=r#"^com\.github\.wwmm\.easyeffects$"#
	match app-id=r#"^com\.obsproject\.Studio"#
	match app-id="vsfetch$"
	open-on-workspace "systemsettings"
}

//wadowrule-app
//floating window
window-rule {
	match app-id="kitty$"
	match app-id="foot$"
	match app-id="Audacity$"
	match app-id="chromium-browser$"
	match app-id="FeelUOwn$"
	match app-id=r#"^org\.localsend\.localsend_app$"#
	match app-id=r#"^io\.github\.xiaoyifang\.goldendict_ng$"#
	match app-id=r#"^io\.github\.amit9838\.mousam$"#
	match app-id=r#"^org\.zathura\.Zathura$"#
	match app-id="nwg-look$"
	match app-id="pcmanfm-qt$"
	match app-id="kitty$"
	match app-id=r#"org\.telegram\.desktop$"#
	match app-id="qt6ct"
	match app-id="qt5ct"
	match app-id="kvantummanager"
	match app-id="YACReader$"
	match app-id="kitty$"
	match app-id=r#"^org\.mozilla\.Thunderbird$"#
	match app-id="^mpv$"
	match app-id=r#"^io\.github\.mpc_qt\.mpc-qt$"# title="Properties$" 
	match app-id=r#"^io\.github\.mpc_qt\.mpc-qt$"# title="Open File$" 
	match app-id=r#"^io\.github.mpc_qt\.mpc-qt$"# title="Options$"
	match app-id="lxqt-archiver$"
	match app-id="gparted$"
	match app-id=r#"^org\.kde\.kwave$"#
	match app-id=r#"^org\.fcitx\.fcitx5-config-qt$"#
	match app-id=r#"^com\.github\.johnfactotum\.Foliate$"#
	match app-id=r#"^org\.pwmt\.zathura$"#
	match app-id="venera$"
	match app-id="nm-connection-editor$"
	match app-id="lxtask$"
	match app-id=r#"^org\.pulseaudio\.pavucontrol$"#
	match app-id=r#"^com\.github\.wwmm\.easyeffects$"#
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  match app-id=r#"^org\.musicbrainz\.Picard$"#
  match app-id=r#"^org\.gnome\.Nautilus$"#
  match app-id=r#"^net\.lutris\.Lutris$"#
  match app-id=r#"^app\.drey\.EarTag$"#	
  match app-id=r#"^moe\.tsuna\.tsukimi$"#	
  match app-id=r#"^info\.febvre\.Komikku$"#	
  match app-id=r#"^org\.gnome\.FileRoller$"#	
  match app-id=r#"^com\.vysp3r\.ProtonPlus$"#	
  match app-id=r#"^fr\.handbrake\.ghb$"#	
  match app-id="^wechat$"
  match app-id="^QQ$"
	match app-id="fooyin$"
  match app-id="^resolve$" title="Project Manager$"
	open-floating true
}
//windows-effect
//opacity
window-rule { 
	match app-id="code$"	
	match app-id="zen$"	
//	match app-id="google-chrome$"	
	match app-id="kitty$"
	match app-id=r#"^org\.localsend\.localsend_app$"#
	match app-id=r#"^org\.pulseaudio\.pavucontrol$"#
	match app-id=r#"org\.qbittorrent\.qBittorrent$"#
	match app-id="firefox$"
	match app-id="helium$"
	match app-id="Spotify$"
	match app-id="fooyin$"
	match app-id="vesktop$"
	match app-id="pcmanfm-qt"
	match app-id="YACReader$"
	match app-id="discord$"
	match app-id="qutebrowser$"
	match app-id=r#"^org\.pwmt\.zathura$"#
	match app-id=r#"^com\.vysp3r\.ProtonPlus$"#
  match app-id=r#"^fr\.handbrake\.ghb$"#	
  match app-id=r#"^com\.github\.johnfactotum\.Foliate$"#
  match app-id=r#"^info\.febvre\.Komikku$"#	
	match app-id=r#"org\.telegram\.desktop$"#
	match app-id=r#"^io\.github\.xiaoyifang\.goldendict_ng$"#
	match app-id=r#"^org\.mozilla\.Thunderbird$"#
	draw-border-with-background false
	opacity 0.8
}

//opacity for Nautilus
window-rule {
	match app-id=r#"^org\.gnome\.Nautilus$"#
	opacity 0.6
	draw-border-with-background false
}
//fix wezterm
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {fixed 960; }
	  open-floating true
		opacity 0.9
}
//block-screenshot
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screencast"
}
//radius-corner
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}
//vsfetch-rule
window-rule {
    match app-id="vsfetch$"
    open-floating true
    opacity 0.5
}

//blur
blur {
	passes 4
	offset 3
	noise 0.25
	saturation 0.2
}
window-rule {
	background-effect {
		xray false
		blur true
	}
}
//lx-music-desktop floating
window-rule {
	match app-id="^lx-music-desktop$"
	open-floating true
	shadow {
	   off
  }
	opacity 0.6
	draw-border-with-background false
	background-effect {
		xray false
		blur true
	}
}
//steam-fullscreen
window-rule {
	match app-id="steam_app_0"
	match app-id="steam$"
//    open-maximized true
//    open-maximized-to-edges true
//    open-fullscreen true
    open-floating true
    open-focused false
		draw-border-with-background false
		opacity 0.6

}


layer-rule {
	match namespace="^rofi$"
	opacity 0.7
	background-effect {
		blur true
		xray true
	}
}
layer-rule {
	match namespace="^waybar$"
	background-effect {
	  blur true
	}
	popups {
		background-effect {
			blur true
		}
	}
}

layer-rule {
	match namespace="^notifications$"
	opacity 0.9
	block-out-from "screen-capture"
}
//firefox-pip
window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    open-floating true
    default-column-width { fixed 960; }
    default-window-height { fixed 540; }
}
//vesktop
window-rule {
	match app-id="vesktop$"
	open-floating true
	shadow {
	   on
  }
	focus-ring {
		on
	}
}

//spotify-mini-player
window-rule {
	match app-id="Chromium-browser$"
	
	default-window-height { fixed 392; }
	default-column-width { fixed 272; }
	open-floating true
  open-focused false
	opacity 0.5
	draw-border-with-background false
	focus-ring {
		off
	}

}
//open-but-not-focus
window-rule {
	match app-id=r#"^org\.localsend\.localsend_app$"#
	match app-id=r#"^org\.pulseaudio\.pavucontrol$"#
	open-focused false
}
//use red color to indicate the window is recording
// 用红色标示正在录制的窗口。
window-rule {
    match is-window-cast-target=true

//    focus-ring {
//        active-color "#f38ba8"
//        inactive-color "#7d0d2d"
//    }
//
//    border {
//        inactive-color "#7d0d2d"
//    }
//
//    shadow {
//        color "#7d0d2d70"
//    }
//
//    tab-indicator {
//        active-color "#f38ba8"
//        inactive-color "#7d0d2d"
//    }
}

//keybind-map
binds {
    //system application hotkey
	  Mod+Shift+Slash                                                      { "show-hotkey-overlay"; }
    Mod+Return       hotkey-overlay-title="Open a Terminal: kitty"       { spawn "kitty"; }
    ALT+Space        hotkey-overlay-title="Run an Application: rofi"     { spawn "~/.config/rofi/bin/launcher.sh"; }
    Mod+L            hotkey-overlay-title="Lock the Screen: swaylock"    { spawn "swaylock-fancy" "-p"; }
    //wallpaper hotkey
		CTRL+SHIFT+W     hotkey-overlay-title="Change Wallpaper"             { spawn-sh "qs -n -p ~/.config/quickshell/niriquickpaper/"; }
		//Audio
		XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    //Media
		XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
    //Screenshot
		Print                hotkey-overlay-title="ScreenPrint"             { screenshot; }
    Ctrl+Print           hotkey-overlay-title="FullscreenPrint"         { screenshot-screen; }
    Alt+Print            hotkey-overlay-title="windowsScreenPrint"      { screenshot-window; }
    //colorpicker
		Mod+P { spawn-sh "niri msg pick-color | wl-copy"; }
		//Ovieview
		ALT+Tab repeat=false { toggle-overview; }
	  //mako mode toggle
		ALT+N { spawn-sh "~/.config/niri/scripts/toggle-mako-mode.sh"; }
		//Focus move
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    //Move position
    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
		//focus and move window
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }
    //focus and move column
		Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }
    //move workspace
		Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }
 		//Move column to workspace
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; } 
		//wheel scroll 
		Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; } 
		Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; } 
		//workspace 
    Mod+1 { focus-workspace 1; } 
		Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }    
		Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }
    // Switches focus between the current and the previous workspace.
    Mod+Shift+Escape { focus-workspace-previous; }
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }

    //window size
    Mod+S { switch-preset-column-width; }
    Mod+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+ALT+F { maximize-window-to-edges; }
		//change window size
		Mod+Minus { set-column-width "-5%"; }
    Mod+Equal { set-column-width "+5%"; }
    Mod+Shift+Minus { set-window-height "-5%"; }
    Mod+Shift+Equal { set-window-height "+5%"; }
    //Floating toggle
		Mod+Space       { toggle-window-floating; }
    Mod+Shift+Space { switch-focus-between-floating-and-tiling; }
    Mod+C repeat=false { close-window; }
    Mod+W { toggle-column-tabbed-display; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+Q { quit; }
    Mod+Shift+P { power-off-monitors; }

		//rofi
		Mod+M hotkey-overlay-title="rofi-mpd-menu"       { spawn "~/.config/rofi/bin/mpd.sh"; }
		Mod+X hotkey-overlay-title="rofi-powermenu"      { spawn "~/.config/rofi/bin/powermenu.sh"; }
    Mod+G hotkey-overlay-title="rofi-clipboard"      { spawn "~/.config/niri/scripts/clip.sh"; }
		Mod+N hotkey-overlay-title="rofi-networkmanager" { spawn "networkmanager_dmenu"; }
		Mod+D hotkey-overlay-title="rofi-screenshot"     { spawn "~/.config/rofi/bin/screenshot.sh"; }
		//TUI application
		CTRL+ALT+A hotkey-overlay-title="launch nvtop"    { spawn "kitty" "-e" "nvtop"; }
    CTRL+ALT+B hotkey-overlay-title="launch btop"     { spawn "kitty" "-e" "btop"; }
    CTRL+ALT+D hotkey-overlay-title="launch dgop"     { spawn "kitty" "-e" "dgop"; }
		CTRL+ALT+G hotkey-overlay-title="launch ncmpcpp"  { spawn "kitty" "-e" "ncmpcpp"; }
		CTRL+ALT+H hotkey-overlay-title="launch htop"     { spawn "kitty" "-e" "htop"; }
		CTRL+ALT+K hotkey-overlay-title="launch kew"      { spawn "kitty" "-e" "kew"; }
		CTRL+ALT+M hotkey-overlay-title="launch musicfox" { spawn "kitty" "-e" "musicfox"; }
		CTRL+ALT+N hotkey-overlay-title="launch nvim"     { spawn "kitty" "-e" "nvim"; }
		CTRL+ALT+R hotkey-overlay-title="launch ranger"   { spawn "kitty" "-e" "ranger"; }
		CTRL+ALT+V hotkey-overlay-title="launch vim"      { spawn "kitty" "-e" "vim"; }
		CTRL+ALT+Y hotkey-overlay-title="launch yazi"     { spawn "kitty" "-e" "yazi"; }
    CTRL+ALT+S hotkey-overlay-title="launch vsfetch"  { spawn "vsfetch"; }
		CTRL+ALT+C hotkey-overlay-title="launch veet"     { spawn "kitty" "-e" "veet";}
		//application
		CTRL+ALT+Q   hotkey-overlay-title="launch qutebrowser"  { spawn "qutebrowser"; }
		Mod+SHIFT+G  hotkey-overlay-title="launch pcmanfm-qt"   { spawn "pcmanfm-qt"; }
		Mod+SHIFT+W  hotkey-overlay-title="launch firefox"      { spawn "firefox"; }
		Mod+SHIFT+H  hotkey-overlay-title="launch helium"       { spawn "helium-browser"; }
		Mod+SHIFT+E  hotkey-overlay-title="launch code"         { spawn "code"; }
		Mod+SHIFT+A  hotkey-overlay-title="launch opentoonz"    { spawn "opentoonz"; }
		Mod+SHIFT+B  hotkey-overlay-title="launch blender"      { spawn "blender";}
	} 

//start application 
spawn-at-startup "waybar" "-c" "/home/mackelguo/.config/niri/waybar/config.jsonc" "-s" "/home/mackelguo/.config/niri/waybar/style.css"
spawn-at-startup "swayidle" "-w" "timeout" "601" "niri msg action power-off-monitors" "timeout" "600" "swaylock-fancy" "before-sleep" "swaylock-fancy" 
spawn-at-startup "mako" 
spawn-at-startup "gpu-screen-recorder" 
spawn-at-startup "awww-daemon" 
spawn-at-startup "fcitx5 -d"
spawn-at-startup "aria2c"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "/home/mackelguo/.config/niri/scripts/swaybg.sh"
//start sh
spawn-sh-at-startup "pactl load-module module-virtual-source source_name='Loopback' master=alsa_input.pci-0000_04_00.6.analog-stereo.monitor use_volume_sharing=no"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-sh-at-startup "playerctld daemon"

include "./colors.kdl"

