:root {

    --background: #141318;

    --error: #ffb4ab;

    --error_container: #93000a;

    --inverse_on_surface: #312f36;

    --inverse_primary: #5f5790;

    --inverse_surface: #e5e1e9;

    --on_background: #e5e1e9;

    --on_error: #690005;

    --on_error_container: #ffdad6;

    --on_primary: #31285f;

    --on_primary_container: #e5deff;

    --on_primary_fixed: #1b1149;

    --on_primary_fixed_variant: #473f77;

    --on_secondary: #312e41;

    --on_secondary_container: #e5dff9;

    --on_secondary_fixed: #1c192b;

    --on_secondary_fixed_variant: #484459;

    --on_surface: #e5e1e9;

    --on_surface_variant: #c9c5d0;

    --on_tertiary: #482536;

    --on_tertiary_container: #ffd8e6;

    --on_tertiary_fixed: #301120;

    --on_tertiary_fixed_variant: #623b4c;

    --outline: #938f99;

    --outline_variant: #48454e;

    --primary: #c9bfff;

    --primary_container: #473f77;

    --primary_fixed: #e5deff;

    --primary_fixed_dim: #c9bfff;

    --scrim: #000000;

    --secondary: #c9c3dc;

    --secondary_container: #484459;

    --secondary_fixed: #e5dff9;

    --secondary_fixed_dim: #c9c3dc;

    --shadow: #000000;

    --source_color: #524e66;

    --surface: #141318;

    --surface_bright: #3a383e;

    --surface_container: #201f25;

    --surface_container_high: #2b292f;

    --surface_container_highest: #35343a;

    --surface_container_low: #1c1b20;

    --surface_container_lowest: #0e0d13;

    --surface_dim: #141318;

    --surface_tint: #c9bfff;

    --surface_variant: #48454e;

    --tertiary: #edb8cd;

    --tertiary_container: #623b4c;

    --tertiary_fixed: #ffd8e6;

    --tertiary_fixed_dim: #edb8cd;



    --background_rgb: 20 19 24;

    --error_rgb: 255 180 171;

    --error_container_rgb: 147 0 10;

    --inverse_on_surface_rgb: 49 47 54;

    --inverse_primary_rgb: 95 87 144;

    --inverse_surface_rgb: 229 225 233;

    --on_background_rgb: 229 225 233;

    --on_error_rgb: 105 0 5;

    --on_error_container_rgb: 255 218 214;

    --on_primary_rgb: 49 40 95;

    --on_primary_container_rgb: 229 222 255;

    --on_primary_fixed_rgb: 27 17 73;

    --on_primary_fixed_variant_rgb: 71 63 119;

    --on_secondary_rgb: 49 46 65;

    --on_secondary_container_rgb: 229 223 249;

    --on_secondary_fixed_rgb: 28 25 43;

    --on_secondary_fixed_variant_rgb: 72 68 89;

    --on_surface_rgb: 229 225 233;

    --on_surface_variant_rgb: 201 197 208;

    --on_tertiary_rgb: 72 37 54;

    --on_tertiary_container_rgb: 255 216 230;

    --on_tertiary_fixed_rgb: 48 17 32;

    --on_tertiary_fixed_variant_rgb: 98 59 76;

    --outline_rgb: 147 143 153;

    --outline_variant_rgb: 72 69 78;

    --primary_rgb: 201 191 255;

    --primary_container_rgb: 71 63 119;

    --primary_fixed_rgb: 229 222 255;

    --primary_fixed_dim_rgb: 201 191 255;

    --scrim_rgb: 0 0 0;

    --secondary_rgb: 201 195 220;

    --secondary_container_rgb: 72 68 89;

    --secondary_fixed_rgb: 229 223 249;

    --secondary_fixed_dim_rgb: 201 195 220;

    --shadow_rgb: 0 0 0;

    --source_color_rgb: 82 78 102;

    --surface_rgb: 20 19 24;

    --surface_bright_rgb: 58 56 62;

    --surface_container_rgb: 32 31 37;

    --surface_container_high_rgb: 43 41 47;

    --surface_container_highest_rgb: 53 52 58;

    --surface_container_low_rgb: 28 27 32;

    --surface_container_lowest_rgb: 14 13 19;

    --surface_dim_rgb: 20 19 24;

    --surface_tint_rgb: 201 191 255;

    --surface_variant_rgb: 72 69 78;

    --tertiary_rgb: 237 184 205;

    --tertiary_container_rgb: 98 59 76;

    --tertiary_fixed_rgb: 255 216 230;

    --tertiary_fixed_dim_rgb: 237 184 205;

}