
/*****----- Configuration -----*****/
configuration {
    show-icons:                 false;
}

/*****----- Global Properties -----*****/
@import                          "~/.config/rofi/share/color.rasi"
@import                          "~/.config/rofi/share/font.rasi"

/*
USE_ICON=NO
*/

/*****----- Main Window -----*****/
window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       960px;
		height:                      600px;
    x-offset:                    0px;
    y-offset:                    0px;
    margin:                      0px;
		padding:                     1px;
    border:                      0px;
    border-radius:               0px;
    cursor:                      "default";
    background-color:            @on-primary;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px;
    padding:                     25px;
    background-color:            @on-primary-fixed;
    children:                    [ "inputbar", "listview" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     10px;
    padding:                     0px;
    border:                      0px;
    border-radius:               0px;
    border-color:                @on-primary-fixed;
    background-color:            @on-primary-fixed;
    text-color:                  @primary;
    children:                    [  "prompt","entry"];
}

prompt {
    enabled:                     true;
    padding:                     10px;
    border-radius:               0px;
    background-color:            @surface;
    text-color:                  @on-surface-variant;
}

entry  {
    enabled:                     true;
		padding:                     5px  2px;
		border-radius:               2px;
		placeholder:                 "clipboard...";
		text-color:                  @primary;
		placeholder-color:           @on-primary;
		background-color:            transparent;
		vertical-align:              0.5;
		horizontal-align:            0.02;
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     1;
    lines:                       15;
    cycle:                       true;
    scrollbar:                   false;
    layout:                      vertical;
    spacing:                     5px;
    background-color:            transparent;
    cursor:                      "default";
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    padding:                     10px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @on-secondary;
    background-color:            transparent;
    text-color:                  @secondary-fixed;
    cursor:                      pointer;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

element normal.normal,
element alternate.normal {
    background-color:            transparent;
    text-color:                  @primary-fixed;
}
element normal.urgent,
element alternate.urgent,
element selected.active {
    background-color:            @surface;
    text-color:                  @on-surface-variant;
}
element normal.active,
element alternate.active,
element selected.urgent {
    background-color:            @surface-bright;
    text-color:                  @on-surface-variant;
}
element selected.normal {
    background-color:            @primary;
    text-color:                  @on-primary-fixed;
}
